input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  .header1{
    width: 53%;
    background-color:grey;
    color: white;
    text-align: left;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    height: 60pt;
  }
  #bug{
      margin-left: 14pt;
      padding-top: 20pt;
  }
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container1 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    margin:0 auto;
  }

  #Product1,#OS,#severity{
    background-color: #45a049;
    color:lavender;
  }
  #vname{
      width:15%;
  }
  #business{
      text-align: center;
  }
  
  .footer {
    width: 53%;
    background-color:rgb(197, 190, 190);
    color: white;
    text-align: right;
    margin:0 auto;
  }
  #submit {
      margin-top: 10pt;
      margin-bottom: 10pt;
      margin-right: 10pt;
  }
#myfile{
    border: 2px solid gray;
    width: 100%;
}
.choose::-webkit-file-upload-button {
    color: white;
    display: inline-block;
    background: gray;
    border: none;
    padding: 7px 15px;
    font-weight: 700;
    border-radius: 3px;
    white-space: nowrap;
    cursor: pointer;
    font-size: 10pt;
    text-align: right;
  }